    /* Contact Icons */
    
    .wrapper h1 {
        font-family: myFirstFont;
        font-weight: lighter;
        font-size: 40px;
        color: #ffffff;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    /* Styling for Icon container */
    
    .wrapper p {
        font-family: myFirstFont;
        font-weight: lighter;
        font-size: 50px;
        color: #ffffff;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    /* Font/color/margin for p in container wrapper */
    
    .media {
        size: 90px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -50%);
    }
    /* Placement and margin for Media and container */
    
    @media (min-width:541px) {
        .wrapper ul {
            text-align: center;
            display: flexbox;
            margin-right: 40px;
        }
        /* When screen @ 541px or more, Adding flexbox and margin to continer and listed elements */
        .wrapper li {
            list-style: none;
            display: inline-flex;
            font-size: 80px;
            padding: 2% 5px;
            color: #ffffff;
            margin: 50px 10px;
        }
        /* When screen @ 541px or more, Removing list properties, adding margins, paddings and border to listed elements. */
    }
    
    @media (min-width:540px) {
        .wrapper ul {
            text-align: center;
            display: flexbox;
            margin-right: 40px;
        }
        /* When screen @ 540px or more, Adding flexbox and margin to continer and listed elements */
        .wrapper li {
            list-style: none;
            display: inline-flex;
            font-size: 60px;
            padding: 2% 2px;
            color: #ffffff;
            margin: 10px 5px;
        }
        /* When screen @ 540px or more, adding margins, paddings and border to listed elements. */
    }
    
    @media (max-width:320px) {
        .wrapper li {
            list-style: none;
            display: inline-flex;
            font-size: 20px;
            padding: 2% 2px;
            color: #ffffff;
            margin: 0px 4px;
        }
        /* When screen @ 320px or less, Adding flexbox and margin to continer and listed elements */
        .wrapper ul {
            text-align: center;
            display: flexbox;
            margin-right: 30px;
        }
        /* When screen @ 320px or less, Removing list properties, adding margins, paddings and border to listed elements. */
    }
    
    @media (min-width:321px) {
        .wrapper li {
            list-style: none;
            display: inline-flex;
            font-size: 33px;
            padding: 10px 0px;
            color: #ffffff;
            margin: 0px 5px;
        }
        /* When screen @ 321px or more, Adding flexbox and margin to continer and listed elements */
        .wrapper ul {
            text-align: center;
            display: flexbox;
            margin-right: 40px;
        }
        /* When screen @ 321px or more, Removing list properties, adding margins, paddings and border to listed elements. */
    }
    
    .fa-html5:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to html icon */
    
    .fa-css3:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to css icon */
    
    .fa-jsfiddle:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to jsfiddle icon */
    
    .fa-terminal:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to terminal icon */
    
    .fa-git:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to git icon */
    
    .fa-github:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to github icon */
    
    .fa-facebook-square:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to facebook icon */
    
    .fa-instagram:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to instgram icon */
    
    .fa-twitter:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to twitter icon */
    
    .fa-linkedin:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to linked icon */
    
    .fa-github:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to github icon */
    
    .fa-codepen:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to codepen icon */
    
    .email:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to email icon */
    
    .mobile:hover {
        color: #292929;
        transition: 0.5s;
    }
    /* Add hover to mobile icon */
    
    a:link {
        color: #ffffff;
    }
    /* unvisited link */
    
    a:visited {
        color: #ffffff;
    }
    /* visited link */
    /* Blog Page */
    
    .blogs {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        margin-top: 20px;
    }
    /* Add flex and margin properties to all elements within the blogs contianer.*/
    
    @media screen and (max-width: 539px) {
        main .blogs {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        /*When screen @ 539px or less, give all elements within blogs container above flex and margin properties.  */
    }
    
    @media (max-width:280px) {
        .blog {
            margin: auto;
        }
        .blog h1 {
            margin-bottom: 20px;
            font-size: 20px;
            text-align: center;
        }
        .blogimage {
            display: block;
            width: 150px;
            height: 100px;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 10px;
            border-radius: 70%;
        }
        .blog p {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 80%;
            height: 400px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 5px;
            font-size: 8px;
            line-break: 4;
        }
        .cycle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .cycle .button.large {
            font-size: 10px;
            font-family: myFirstFont;
            font-weight: 600;
            padding: 5px 5px;
            align-items: flex-end;
            margin-top: 0px;
            margin-bottom: 30px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    /*When screen @ 280px or less, give all elements within blogs container above flex and margin properties.  */
    
    @media (min-width:300px) {
        .blog {
            margin: auto;
        }
        .blog h1 {
            margin-bottom: 20px;
            font-size: 20px;
            text-align: center;
        }
        .blogimage {
            display: block;
            width: 150px;
            height: 100px;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 20px;
            border-radius: 70%;
        }
        .blog p {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 80%;
            height: 550px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 10px;
            line-break: 4;
        }
        .cycle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .cycle .button.large {
            font-size: 15px;
            font-family: myFirstFont;
            font-weight: 600;
            padding: 10px 2px;
            align-items: flex-end;
            margin-top: 10px;
        }
    }
    /*When screen @ 300px or more, give all elements within blogs container above flex and margin properties.  */
    
    @media (min-width:319px) {
        .blog {
            margin: auto;
        }
        .blog h1 {
            margin-bottom: 5px;
            margin-top: 5px;
            font-size: 20px;
            text-align: center;
        }
        .blogimage {
            display: block;
            width: 200px;
            height: 100px;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 5px;
            border-radius: 70%;
        }
        .blog p {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 90%;
            height: 800px;
            margin: auto;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 12px;
            line-break: 4;
        }
        .cycle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .cycle .button.large {
            font-size: 12px;
            font-family: myFirstFont;
            font-weight: 600;
            padding: 5px 5px;
            align-items: flex-end;
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }
    /*When screen @ 319px or more, give all elements within blogs container above flex and margin properties.  */
    
    @media (min-width:540px) {
        .blog {
            margin: auto;
        }
        .blog h1 {
            margin-bottom: 20px;
            font-size: 40px;
            text-align: center;
        }
        .blogimage {
            display: block;
            width: 350px;
            height: 200px;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 50px;
            border-radius: 70%;
        }
        .blog p {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 90%;
            height: 1000px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            line-break: 4;
        }
        .cycle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .cycle .button.large {
            font-size: 20px;
            font-family: myFirstFont;
            font-weight: 600;
            padding: 5px 5px;
            align-items: flex-end;
            margin-top: 0px;
            margin-bottom: 30px;
        }
    }
    /*When screen @ 540px or more, give all elements within blogs container above flex and margin properties.  */
    
    @media (min-width:1000px) {
        .blog {
            margin: auto;
        }
        .blog h1 {
            margin-bottom: 20px;
            font-size: 40px;
            text-align: center;
        }
        .blogimage {
            display: block;
            width: 250px;
            height: 100px;
            margin: auto;
            margin-top: 40px;
            margin-bottom: 50px;
            border-radius: 70%;
        }
        .blog p {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 90%;
            height: 650px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 20px;
            line-break: 4;
        }
        .cycle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .cycle .button.large {
            font-size: 25px;
            font-family: myFirstFont;
            font-weight: 600;
            padding: 5px 5px;
            align-items: flex-end;
            margin-top: 0px;
            margin-bottom: 40px;
        }
    }
    /*When screen @ 1000px or more, give all elements within blogs container above flex and margin properties.  */
    /*  */
    /* About me popup boxes */
    
    .aboutme {
        min-height: 2vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        font-family: myFirstFont;
    }
    /* Add flex  properties to all elements within the aboutme contianer.*/
    
    .volumes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        font-family: myFirstFont;
        margin-bottom: 30px;
    }
    /* Styling  properties to all volume elements.*/
    
    @media screen and (min-width: 539px) {
        .volumes {
            min-height: 2vh;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            font-family: myFirstFont;
        }
        .blogs {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2px;
            margin-left: 2px;
        }
    }
    /*When screen @ 539px or more, Styling  properties to all volume elements.*/
    
    @media screen and (max-width: 539px) {
        .aboutme {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        /*When screen @ 539px or less, give all elements within about me container above flex  properties.*/
    }
    
    .dwb {
        width: 400px;
        height: 100px;
        border-radius: 50%;
    }
    /* Styling for download button */
    
    .button {
        appearance: none;
        border: none;
        outline: none;
        display: inline-block;
        flex-direction: row;
        background-color: #e73c7e;
        font-size: 20px;
        padding: 5px 5px;
        border-radius: 8px;
        box-shadow: 0px 3px 6px rgba( 0, 0, 0, 0.1);
        cursor: pointer;
        margin: 10px 10px;
    }
    /* Stylng for button. */
    
    .center {
        align-content: center;
        justify-self: center;
    }
    /* Styling for center popup */
    
    .button.large {
        font-size: 10px;
        color: rgb(7, 7, 7);
        font-family: myFirstFont;
        font-weight: 600;
        padding: 5px 5px;
        align-items: flex-end;
    }
    /* Styling for large button on about me page. */
    
    @media (min-width:540px) {
        .button.large {
            font-size: 20px;
            color: rgb(7, 7, 7);
            font-family: myFirstFont;
            font-weight: 600;
            padding: 10px 10px;
            align-items: flex-end;
        }
    }
    /*When screen @ 539px or less, change styling for large button on about me page..*/
    
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s;
    }
    /* Styling for popup page */
    
    @media screen and (max-width: 539px) {
        .popup-inner {
            position: relative;
            margin-top: 20%;
            width: 90%;
            height: 90%;
        }
        .popup p:last-of-type {
            margin-bottom: 5px;
        }
    }
    /* When screen @ 539 or less, give popup above flex properties. */
    
    .popup.is-active {
        opacity: 1;
        pointer-events: all;
        margin-bottom: 10px;
    }
    /* Opacity control for popup box. */
    
    .popup.is-active .popup {
        align-content: center;
        justify-content: center;
    }
    /* Centering for popup box. */
    
    .popup-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }
    /* popup positioning. */
    
    .popup-inner {
        position: relative;
        z-index: 0;
        max-width: 500px;
        max-height: 500px;
        padding: 10px 10px;
        background-color: #292929;
        border-radius: 16px;
        box-shadow: rgba( 0, 0, 0, 0.1);
        margin-top: 30px;
    }
    /* Styling for popup card contents. */
    
    button.button.popup-button {
        font-size: 25px;
        margin-top: 15px;
        position: absolute;
        right: 0px;
        -ms-transform: translate(-50%, -100%);
        transform: translate(-30%, -330%);
    }
    /* Styling and poistioning for close button in popup box. */
    
    button.button.dwb2 {
        font-size: 25px;
        margin-top: 15px;
        position: absolute;
        right: 0px;
        -ms-transform: translate(-50%, -100%);
        transform: translate(-20%, -170%);
    }
    /* Secondary styling and poistioning for close button in popup box. */
    
    @media screen and (max-width: 539px) {
        .popup-inner {
            position: relative;
            z-index: 0;
            max-width: 350px;
            max-height: 400px;
            padding: 5px 10px;
            background-color: #292929;
            border-radius: 16px;
            box-shadow: rgba( 0, 0, 0, 0.1);
        }
        button.button.popup-button {
            font-size: 15px;
            margin-top: 40px;
            margin: 0;
            position: absolute;
            right: 0px;
            -ms-transform: translate(-50%, -100%);
            transform: translate(-35%, -20%);
        }
        button.button.dwb2 {
            font-size: 15px;
            margin-top: 40px;
            margin: 0;
            position: absolute;
            right: 0px;
            -ms-transform: translate(-50%, -100%);
            transform: translate(-20%, -30%);
        }
    }
    /* When screen @ 539 or less, change styling and poistioning for close button in popup box. */
    
    @media screen and (max-width: 320px) {
        .popup-inner {
            position: relative;
            z-index: 0;
            max-width: 350px;
            max-height: 445px;
            padding: 5px 10px;
            background-color: #292929;
            border-radius: 16px;
            box-shadow: rgba( 0, 0, 0, 0.1);
        }
        button.button.popup-button {
            font-size: 15px;
            margin-top: 40px;
            margin: 0;
            position: absolute;
            right: 0px;
            -ms-transform: translate(-50%, -100%);
            transform: translate(-30%, 80%);
        }
        button.button.dwb2 {
            font-size: 15px;
            margin-top: 40px;
            margin: 0;
            position: absolute;
            right: 0px;
            -ms-transform: translate(-50%, -100%);
            transform: translate(-20%, 190%);
        }
    }
    /* When screen @ 320 or less, change styling and poistioning for close button in popup box. */
    
    @media screen and (min-height: 1300px) {
        .popup-inner {
            position: relative;
            z-index: 0;
            max-width: 500px;
            max-height: 500px;
            padding: 10px 10px;
            background-color: #292929;
            border-radius: 16px;
            box-shadow: rgba( 0, 0, 0, 0.1);
            margin-bottom: 510px;
        }
        /* When screen @ 1300 or more, change styling and poistioning for close button in popup box. */
    }