/* Contact Icons */

.wrapper h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


/* Styling for Icon container */

.wrapper p {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}


/* Font/color/margin for p in container wrapper */

.media {
    size: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
}


/* Placement and margin for Media and container */

.wrapper ul {
    text-align: center;
    display: flexbox;
    margin-right: 40px;
}


/* Adding flexbox and margin to continer and listed elements */

.wrapper li {
    list-style: none;
    margin: 30px 30px;
    display: inline-flex;
    font-size: 50px;
    padding: 2% 2%;
    color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 20%;
    margin: 10px 10px;
    transition: 0.5s;
}


/* Removing list properties, adding margins, paddings and border to listed elements. */

.wrapper li:hover {
    color: #292929;
    border: 7px dashed #292929;
    transition: 0.5s;
}


/* Adding hover color change feature on mouseover */

.download:hover {
    color: #ffffff;
    border: 7px dashed #ffffff;
    transition: 0.5s;
}


/* Adding hover color change feature on mouseover */

a:link {
    color: #ffffff;
}


/* unvisited link */

a:visited {
    color: #ffffff;
}


/* visited link */


/* Blog Popups */

.blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


/* Add flex and margin properties to all elements within the blogs contianer.*/

@media screen and (max-width: 539px) {
    main .blogs {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /*When screen @ 539px or less, give all elements within blogs container above flex and margin properties.  */
}

.aboutme {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}


/* Add flex  properties to all elements within the aboutme contianer.*/

.volumes {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}


/* Styling  properties to all volume elements.*/

@media screen and (max-width: 539px) {
    .aboutme {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    /*When screen @ 539px or less, give all elements within aboutme container above flex  properties.  */
}

.button {
    appearance: none;
    border: none;
    outline: none;
    display: inline-block;
    background-color: #e73c7e;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 6px rgba( 0, 0, 0, 0.1);
    cursor: pointer;
    margin: 10px 5px;
}


/* Stylng for button. */

.button.large {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 10px 10px;
    align-items: flex-end;
}


/* Stylng for main button. */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}


/* Styling for popup page */

@media screen and (max-width: 539px) {
    .popup-inner {
        position: relative;
        margin-top: 20%;
        width: 90%;
        height: 90%;
    }
    .popup p:last-of-type {
        margin-bottom: 50px;
    }
}


/* When screen @ 539 or less, give popup above flex properties. */


/* @media screen and (max-width: 420px) {
    .popup {
        width: 66.5%;
        height: 90%;
        display: flex;
    }
} */


/* When screen @ 420 or less, give popup above flex properties. */

.popup.is-active {
    opacity: 1;
    pointer-events: all;
    margin-bottom: 25px;
}


/* Opacacity control for popup box. */

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}


/* popup positioning. */

.popup-inner {
    position: relative;
    z-index: 0;
    max-width: 600px;
    max-height: 900px;
    padding: 5px 10px;
    background-color: #292929;
    border-radius: 16px;
    box-shadow: rgba( 0, 0, 0, 0.1);
}


/* Styling for popup box. */

.popup h2 {
    color: #23d5ab;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}


/* h2 styling. */

.popup h3 {
    color: #23a6d5;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0;
}


/* h3 styling. */

.popup p {
    font-family: sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 5px;
}

.button popup-button {
    margin: 500px;
}


/* p styling. */

.popup p:last-of-type {
    margin-bottom: 2px;
}


/* Styles p elemnt to be last element in popup box. */