* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins', sans-serif;
    background-color: #252222;
}

.nav-active {
    z-index: 10;
}

.logo {
    color: #23d5ab;
    text-transform: uppercase;
    text-align: center;
    margin-left: 5%;
    letter-spacing: 5px;
    font-size: 25px
}

.nav-links {
    justify-content: space-around;
    width: 45%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #e7e3e3;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 15%;
}

.nav-links .currentLink a {
    color: #23d5ab;
}